body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: slategrey;
    overflow: hidden;
}

.navbar {
    margin-bottom: 3rem;
}

.random-generator {
    background-color: black;
}

.main {
    margin: 3rem;
}

.top-10-games {
    background-color: antiquewhite;
    text-align: center;
    color: black;
    border: solid 3px black;
    margin: 5px;
}

.top-10-users {
    background-color: black;
    text-align: center;
    color: antiquewhite;
    border: solid 3px antiquewhite;
    margin: 5px;
}

 

